<h3>Returned Results</h3>

<table width="100%">
  <tr>
    <th>Submission</th>
    <th># Votes</th>
  </tr>

  <% @iterations.each do |iteration| %>
      <tr>
        <td><%= h iteration.value %></td>
        <td><%= h iteration.iteration_votes.count %></td>
      </tr>
  <% end %>
</table>
