<h3>User Submissions</h3>



<%# @iterations.each do |iteration| %>
    <%# tree_ul(@iterations) {|item| item.name} %>
<%# end %>

<table width="100%">
  <tr>
    <th>Submission</th>
    <th><%= @turkee_task.allow_voting? ? "# Votes" : "" %></th>
  </tr>

  <% @iterations.each do |iteration| %>
      <tr>
        <td><%= h iteration.value %></td>
        <td><%= h iteration.iteration_votes.count if @turkee_task.allow_voting? %></td>
      </tr>
  <% end %>
</table>
