<div class="span-24">

  <fieldset>

    <legend>User Instructions</legend>
    <span class="alt">
      <%= @turkee_task.form_body %>
    </span>

  </fieldset>

</div>

<div class="span-24">

  <div id="spinner" style="display:none">
    <%= image_tag 'spinner.gif' %> Refreshing results.
  </div>

  <div id="results" class="span-11">
    <%= render :partial => 'results' %>
  </div>

  <%= periodically_call_remote(:url => {:action => :results, :id => @turkee_task.id}, :frequency => '30') %>
</div>