<div id="results" class="span-24">

  <div id="spinner" style="display:none">
    <%= image_tag 'spinner.gif' %> Refreshing results.
  </div>

  <%= render :partial => 'results' %>

  <%= periodically_call_remote(:url => {:action => :show_results, }, :frequency => '20') %>
</div>